html, body {
    width: 50%;
    height: 48.7%;
    background-color: black;
}

#videos {
    position: absolute;
    left: 20%;
}
.container {
    position: absolute;
    left: 4.5%;
    height: 100%;
    width: 100%;
    background-color: gold;
    border-radius: 5%;
    opacity: 0.7;
    top: 0%;
    animation: mymove 5s infinite;
}
.snapper{
    margin-top: 40.5%;
    margin-left: 60%;
}
#snap {
    background-color: rgb(255, 0, 183);
    transform: scale(2);
    border-radius: 20px;
    cursor: pointer;
    animation: tv 5s infinite; 
}
#snap:hover{
    box-shadow: 0 0 10px blue,
                0 0 10px blue,
                0 0 10px blue;
    filter: hue-rotate(40deg);
    top: 2%;
}

@keyframes tv {
    50% {
        border-bottom-color: deeppink;
        border-left-color: yellowgreen;
        border-right-color: lawngreen;
        border-top-color: lavender;
    }
}


#record {
    position: absolute;
    bottom: 5%;
    background-color: rgb(255, 0, 179);
    margin-left: 38%;
    transform: scale(2);
    border-radius: 20px;
    cursor: pointer;
    animation: move 5s infinite;

}
@keyframes move {
    50% {
        border-bottom-color: deeppink;
        border-left-color: yellowgreen;
        border-right-color:lawngreen;
        border-top-color: lavender;
    }
}

#record:hover{
    box-shadow: 0 0 10px blue,
                0 0 10px blue,
                0 0 10px blue;
    filter: hue-rotate(40deg);
}
#video{
    position: absolute;
    top: 60%;
    margin-left: 3%;
}
#canvas{
    position: absolute;
    top: 60%;
    margin-left: 82%;
}

#delete-button{
    position: absolute;
    margin-left: 6%;
    top: 85%;
    transform: scale(2);
    border-radius: 20px;
    border-color: white;
    background-color: rgb(255, 0, 179);
    cursor: pointer;
}

#clear-button {
    position: absolute;
    margin-left: 86%;
    top: 85%;
    transform: scale(2);
    border-radius: 20px;
    border-color: white;
    background-color: rgb(255, 0, 179);
    cursor: pointer;
}

@keyframes mymove{
    from {
        background-color: gold;
    }

    to {
        background-color: green;
    }
    
}
